version: '3.4'

services:
  usermicroservice:
    image: usermicroservice-image:latest  # Remplacez par le nom de votre image ASP.NET Core
    build:
      context: .
      dockerfile: Dockerfile  # Assurez-vous que le Dockerfile est dans le même répertoire que le fichier docker-compose.yml
    ports:
      - "8080:8080"
      - "8081:8081"
    depends_on:
      - sqlserver

  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest  # Assurez-vous d'utiliser la bonne image SQL Server
    environment:
      MSSQL_SA_PASSWORD: YourPassword123  # Remplacez par votre mot de passe
      ACCEPT_EULA: Y
    ports:
      - "1433:1433"
